@mixin cssretina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    @content;
  }
}

@mixin breakpoint-down ($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin breakpoint-up ($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin breakpoint-between ($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin button($color: red) {
  min-width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  padding: 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  border: none;

  & i {
    font-size: 18px;
    pointer-events: none;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}