.toolbar-excel {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  height: $toolbar-height;
  display: flex;
  padding: 7px 10px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.toolbar-excel__btn {
  @include button(green);
}